.itemDetail__product {
  background-color: #fff;
  padding: 1rem;
}

.itemDetail__contentImg {
  display: flex;
  justify-content: center;
}

.itemDetail__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.itemDetail__features {
  background-color: #f5f5f5;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.itemDetail__oldPrice {
  font-size: 1.1rem;
  font-weight: 500;
  color: #a4a4a4;
  margin-bottom: -0.7rem;
}

.itemDetail__content__price {
  display: flex;
  align-items: center;
}

.itemDetail__price {
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  margin-right: 0.2rem;
}

.itemDetail__discount {
  color: #00A650;
  font-weight: 500;
}

.itemDetail__installments {
  color: #333;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.itemDetail__shipment {
  color: #00A650;
  font-weight: 600;
}

.itemDetail__amount__fees {
  width: 100%;
  height: 3rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.itemDetail__btn__buy,
.itemDetail__btn__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  text-decoration: none;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background-color: #3483FA;
}

.itemDetail__btn__cart {
  background-color: #E3EDFB;
  color: #3483FA;
  margin: 1rem 0;
}

.itemDetail__list__features {
  margin-top: 2rem;
}

.itemDetail__list {
  padding: 1rem;
}

.itemDetail__list__title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1;
}

.itemDetail__list__items {
  margin: 1rem 0;
  font-size: 0.95rem;
  color: #575757;
}

.itemDetail__description__title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.itemDetail__description__paragraph {
  font-size: 0.95rem;
}