
.container__footer {
  /* border: 2px solid red; */
  padding: 2rem 0;
}

.container__footer__contain__title {
  text-align: center;
}

.container__footer__title {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1rem 0;
}

.container__footer__wrapper {
  /* border: 2px solid red; */
  width: 80%;
  margin: 0 auto;
  column-count: 2;
}


.container__footer__link {
  /* border: 2px solid red; */
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  color: #4B4B4B;
  padding: 0.5rem 0;
  padding-left: 2rem;
}
